---
import Layout from "../../layouts/Layout.astro";
import type { InferGetStaticPropsType } from "astro";
import { getCollection } from "astro:content";
import { formatDate } from "../../utils";


type Props = InferGetStaticPropsType<typeof getStaticPaths>;
export async function getStaticPaths() {
  const blogEntries = await getCollection('posts');
  return blogEntries.map(entry => ({
    params: { post: entry.slug }, props: { entry },
  }));
}


const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title="Title">
  <main>
    <article class="article">
      <header>
        <h1>{entry.data.title}</h1>
        <small>{formatDate(entry.data.date)}</small>
      </header>
      <section class="markdown">
        <Content />
      </section>
    </article>
  </main>
</Layout>


<style>
  .article {
    max-width: 48em;
    margin-inline: auto;
  }
</style>
