---
import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { formatDate } from "../../utils";

const posts = await getCollection('posts');
---

<Layout title="Posty">
  <main>
    <article class="article">
      <header>
        <h1>Posty</h1>
      </header>

      <section>
        {posts.map(post => 
          <Card 
            title={post.data.title}
            body={formatDate(post.data.date)}
            href={`/posts/${post.slug}/`}
          />
        )}
      </section>
    </article>
  </main>
</Layout>

<style>
  .article {
    max-width: 48em;
    margin-inline: auto;
  }
</style>
