---
import Layout from "../layouts/Layout.astro";
import CalendarC from "../components/Calendar";
import { getCollection } from "astro:content";

const entries = await getCollection('events');
const events = entries.map(x => ({
  ...x.data,
  url: `/events/${x.slug}/`,
}));
---

<Layout title="Welcome to Astro.">
  <main>
    <article class="article">
      <CalendarC events={events} client:load />
    </article>
  </main>
</Layout>

<style>
  .article {
    max-width: 48em;
    margin-inline: auto;
  }
</style>
