---
import Layout from "../../layouts/Layout.astro";
import Location from "../../components/Location";
import type { InferGetStaticPropsType } from "astro";
import { getCollection } from "astro:content";
import { formatDate } from "../../utils";


type Props = InferGetStaticPropsType<typeof getStaticPaths>;
export async function getStaticPaths() {
  const blogEntries = await getCollection('events');
  return blogEntries.map(entry => ({
    params: { event: entry.slug }, props: { entry },
  }));
}


const { entry } = Astro.props;
const { Content } = await entry.render();
---
<script>
  import "leaflet/dist/leaflet.css";
</script>

<Layout title="Title">
  <main>
    <article class="article">
      <header>
        <h1>{entry.data.title}</h1>
        <small>{formatDate(entry.data.start)} - {formatDate(entry.data.end)}</small>
      </header>
      <section>
        <Content />
      </section>
      <Location location={entry.data.location} client:only />
    </article>
  </main>
</Layout>

<style>
  .article {
    max-width: 48em;
    margin-inline: auto;
  }
</style>
